# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.env
.idea/
.vscode/

# IDE Related
*.iml
*.ipr
*.iws

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/*.iml

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/.generated/
Pods/

# Web
.web/
